*{
  box-sizing: border-box;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}
.bg-container{
  background-image: url("./assets/background.jpg");
  background-size: cover;
  min-height:100vh;
  padding:50px;
}
.crono-container{
  background-image: url("./assets/shadow.png");
  background-size: cover;
}


.tab{
  cursor: pointer;

}

.main-box{
  width:60%;
  height:90%;
}
.heading{
  font-size: 60px;
}
.description{
  font-size: 18px;
}
.btn{
  height:30px;
  width:100px;
  color:black;
  background-color: #FFBD59;
  outline: none;
  border-radius: 5px;
  border:none;
}

.cms-page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.input-box{
  margin-bottom: 10px;
  font-family: 34px;
  padding:5px;
}











